

h1, h2 {
    font-family: "Chartrand -- M", "Chartrand", "serif" !important;
    color: #dc8221;
    text-align: center;
}

h3, h4, h5, h6{
    font-family: "CustomBelwe", "Belwe", "serif" !important;
    color: #dc8221;
    /*text-align: center;*/
}

a {
    font-family: "CustomNocturno", "Nocutrno ", "serif" !important;
    color: #dc8221 !important;
    border-color: #dc8221 !important;
}

p, div, button{
    font-family: "CustomNocturno", "Nocutrno ", "serif" !important;
    text-shadow: 1px 1px 0 #000;
}

body {
    background-color: #1f191f !important;
}

hr{
    border-color: #dc8221;
    width: 95%;
}

.text-center{
    text-align: center;
}



/*<!-- Blocks -->*/

.block-heading{
    text-align: center;
    color: #dc8221;
    margin: 5px;

}

.block-image{
    text-align: center;
    float: left;
    margin: 20px;
}




.our-segment{
    background:  linear-gradient(to right, rgba(77, 72, 83, 1), rgba(77, 72, 83, .5)) !important;
    line-height: 20px;
    height: 150px;
    border-radius: 10px;
    padding: 5px 10px 0 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: auto;

    grid-template-areas:
            "thumbnail title title title"
            "thumbnail preview preview preview"
            "thumbnail tags tags blog-button";

}

.blog-thumbnail{
    grid-area: thumbnail;
    position: relative;
    height: 99%;
    width: 97%;
    right:5px;
    border-radius: 5%;
}

.blog-title{
    grid-area: title;
    justify-self: start;

}

.blog-preview{
    grid-area: preview;
    justify-self: start;
    align-self: start;

}

.blog-tags{
    grid-area: tags;
    align-self: center;

    display: flex;
    height: 50px;
}

.blog-button{
    grid-area: blog-button;
    align-self: center;
    justify-self: end;
}

.tag-name{
    grid-area: tag-name;
    width: 100%;
    height: 100%;
    color: #000;
    text-shadow: none !important;
    font-size: .8vw;
    user-select: none;
    line-height: 1;
}


.blogs-header{
    margin-left: 20%;
    margin-right:20%;
    background:  linear-gradient(to right, rgba(77, 72, 83, 1), rgba(77, 72, 83, .5)) !important;
    border-radius: 10px;
}
