#myBody {
    display: grid;
    transition: all 3s;
    grid-template-rows: 70px calc(100% - 100px) 29px;
    grid-template-areas:
        "navbar"
        "page_content"
        "footer";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#content {
    grid-area: page_content;
    overflow-y: auto;
    transition: all .6s !important;
    margin: 5px !important;
}



#content > div{
    margin-top: 5%;
}

/* Footer  */

#footer {
    grid-area: footer;
    background-color: #4d4853; !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.phone-only{
    grid-area: phone-only;
}

.my-social-media {
    flex: 0 1 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer .my-social-media img {
    height: 25px;
}

.my-social-media > div {
    margin: 0 20px;
}

.github{
    color: #6a0079;
}

.twitter{
    color: #5ea0ef;
}

#footer  h6 {
    margin:0;
}

/* Navbar */


#navbar {
    grid-area: navbar;
    background-color: #4d4853 !important;
    border-radius: 2px;
    display: grid;
    width: 100%;
    height: 70px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: ". navbar-logo . . all-blogs-button contact-button about-us-button";
}

.navbar-logo {
    grid-area: navbar-logo;
    cursor: pointer;
    width: 120px;
    border-radius: 2px;
    align-self: center;
}

#navbar .our-button{
    margin: 10px;
}

.all-blogs-button{
    grid-area: all-blogs-button;
}

.contact-button{
    grid-area: contact-button;
}

.about-us-button{
    grid-area: about-us-button;
}
