/*<!-- Tables -->*/
/*<!-- Small -->*/

.small-table-wrapper{
    width: 550px;
    height: 450px;
    min-height: 350px;
    min-width: 450px;
    margin: 20px;

}

.large-table_wrapper{
    width: 800px;
    height: 600px;
    max-height: 600px !important;
    max-width: 800px !important;
    min-height: 600px !important;
    min-width: 800px !important;
    margin: 20px;
}

.block-small_table {
    background: url(https://dungeomancer.com/static/ours/images/table_bg.png) no-repeat;
    background-size: 100% 100%;
    height: 400px;
    /*opacity: 90%;*/
    display: flex;
    position: relative;
    float: left;
    width: 550px;
}
.block-large_table{
    background: url(https://dungeomancer.com/static/ours/images/table_bg.png) no-repeat;
    background-size: 100% 100%;
    height: 600px;
    display: flex;
    position: relative;
    float: left;
    width: 1000px;
}

.block-small_table caption{
    text-align: left;
}
.block-large_table caption{
    text-align: left;
    font-size: 28px;
}

.block-small_table::after, .block-large_table::after{
    content: '';
    background-image: url(https://dungeomancer.herokuapp.com/static/ours/images/table_border.png);
    background-size: 100% 100%;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 0;
}
.block-small_table > table {
    width: calc(100% - 75px);
    height: calc(100% - 150px);
    margin: auto;
    border-spacing: 0;
    z-index: 1;
    color: black;

}

.block-large_table > table{
    width: calc(100% - 135px);
    height: calc(100% - 200px);
    margin: auto;
    border-spacing: 0;
    z-index: 1;
    color: black;
}

tr > td:first-child {
    width: 10%;
    text-align: center;
}
tr > td:last-child{
    width: 5%;
    text-align: right;
}


.block-small_table > table > tbody tr:nth-child(odd), .block-large_table > table > tbody tr:nth-child(odd) {
    background-color: #ebcec3 !important;
}


/* small table font sizes */
.block-small_table > table tr {
    font-size: 20px;
}

/* one row */
.block-small_table > table tr:first-child:nth-last-child(1) {
    font-size: 28px;
}

/* two rows */
.block-small_table > table tr:first-child:nth-last-child(2),
.block-small_table > table tr:first-child:nth-last-child(2) ~ tr {
    font-size: 24px;
}

/* three rows */
.block-small_table > table tr:first-child:nth-last-child(3),
.block-small_table > table tr:first-child:nth-last-child(3) ~ tr {
    font-size: 20px;
}

/* four rows */
.block-small_table > table tr:first-child:nth-last-child(4),
.block-small_table > table tr:first-child:nth-last-child(4) ~ tr {
    font-size: 18px;
}

/* five rows */
.block-small_table > table tr:first-child:nth-last-child(5),
.block-small_table > table tr:first-child:nth-last-child(5) ~ tr {
    font-size: 16px;
}

/* five rows */
.block-small_table > table tr:first-child:nth-last-child(6),
.block-small_table > table tr:first-child:nth-last-child(6) ~ tr {
    font-size: 15px;
}
/* five rows */
.block-small_table > table tr:first-child:nth-last-child(7),
.block-small_table > table tr:first-child:nth-last-child(7) ~ tr {
    font-size: 14px;
}
/* five rows */
.block-small_table > table tr:first-child:nth-last-child(8),
.block-small_table > table tr:first-child:nth-last-child(8) ~ tr {
    font-size: 13px;
}
/* five rows */
.block-small_table > table tr:first-child:nth-last-child(9),
.block-small_table > table tr:first-child:nth-last-child(9) ~ tr {
    font-size: 12px;
}
/* five rows */
.block-small_table > table tr:first-child:nth-last-child(10),
.block-small_table > table tr:first-child:nth-last-child(10) ~ tr {
    font-size: 10px;
}


.htRight{
    text-align: right;
}
.htLeft{
    text-align: left;
}
.htCenter{
    text-align: center;
}
.htJustify{
    text-align: justify;
}
.htTop{
    vertical-align: top;
}
.htMiddle{
    vertical-align: middle;
}
.htBottom{
    vertical-align: bottom;
}
