{% load static wagtailimages_tags wagtailembeds_tags wagtailcore_tags wagtailui_tags wagtailusers_tags %}

{% block scripts %}
    <head>

        <!-- Title -->
        <title>{{ page.title }}</title>

        <!-- Meta Tags  -->
        <meta content="width=device-width, initial-scale=1" name="viewport" />


        <!-- Jquery, Semantic -->
        <script
                src="https://code.jquery.com/jquery-3.5.0.js"
                integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
                crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static "/semantic-ui/semantic.lux.min.css" %}">


        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href={% static "/ours/css/custom.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "/ours/css/tables.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "/ours/css/base_page.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "/ours/css/buttons_fonts_icons.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "/ours/css/navbar_footer.css" %}>
        <link rel="stylesheet" type="text/css" href={% static "/ours/css/media_queries.css" %}>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- My JS -->
        <script src={% static "/ours/js/onscroll.js" %}></script>
        <script src={% static "/ours/js/following-tooltip.js" %}></script>

    </head>

{% endblock %}
{% block navbar %}
    <body id="myBody">
    <div class="big-screen-only" id="navbar">
        <img class="navbar-logo" onclick="navigateTo('/')" src="{% static 'ours/images/dungeosplash.jpg' %}">
        <button class="our-button all-blogs-button" href="/blogs/" title="Hover here to read this title attribute. Click here to read some blogs.">Blogs</button>
        <button class="our-button contact-button" href="/contact/" title="Hover here to read more hilarious titles. Click here to email a nerd.">Contact</button>
        <button class="our-button about-us-button" href="/about-us/" title="Hover here to get a virtual high-five. Click here to learn who gave it to you.">About Us</button>
    </div>

    {% block content %}
    {% endblock content %}

    {% block footer %}
        <div id="footer">
                <div class="my-social-media">
                    <h6>Chris:</h6>
                    <div class="github">
                        <a href="https://github.com/ReproKillbot" title="Click here to look at the websites code!"><img alt="Github's Logo"  src="{% static 'ours/images/github.png' %}"></a>
                    </div>
                </div>
                <div class="my-social-media">
                    <h6>Wade:</h6>
                    <div>
                        <a href="https://www.artstation.com/dragonlocke" rel="friend" title="Click here to see more of Wade's artistry on ArtStation"><img alt="ArtStation's Logo"  src="{% static 'ours/images/ArtStationLogo.png' %}"></a>
                    </div>
                    <div>
                        <a href="https://twitter.com/dragonlockeOG" rel="friend" title="Click here to see more of Wade's artistry on Twitter"><img alt="Twitter's Logo"  src="{% static 'ours/images/twitter.png' %}" height="25px"></a>
                    </div>
                </div>
            </div>
            <!-- TODO: Link to thingies -->
{#            <div class="twitter" href="#">#}
{#                <img onclick="navigateTo()" src="{% static 'ours/images/twitter.png' %}">#}
{#            </div>#}
{#            <div class="patreon" href="#">#}
{#                <img onclick="navigateTo()" src="{% static 'ours/images/patreon.png' %}">#}
{#            </div>#}
        </div>
    {% endblock footer %}
    </body>
{% endblock navbar %}

