{% extends 'base_pages/base.html' %}
{% load static wagtailimages_tags wagtailembeds_tags wagtailcore_tags wagtailui_tags wagtailusers_tags %}

{% block content %}

    <div id="content">
        {% for block in page.body %}
            {% if block.block_type == 'heading' %}

                <section class="block-{{ block.block_type }}">
                    <h1>{{ block.value }}</h1>
                </section>
                <div class="ui divider"></div>
            {% elif block.block_type == 'image' %}
                <section class="block-{{ block.block_type }}">
                    {% image block.value max-400x400 alt['A furry creature']%}
                </section>
                <div class="ui divider"></div>
            {% elif block.block_type == 'small_table' %}
                <div class="small-table-wrapper">
                    <section class="block-{{ block.block_type }}">
                        {{block}}
                    </section>
                </div>
            {% elif block.block_type == 'large_table' %}
                <div class="large-table-wrapper">
                    <section class="block-{{ block.block_type }}">
                        {{block}}
                    </section>
                </div>
            {% elif block.block_type == 'paragraph' %}

                <section class="block-{{ block.block_type }}">
                    {{ block }}
                </section>
                <div class="ui divider"></div>
            {% endif %}


        {% endfor %}

        {% for npc in page.npcs %}
            <br>
            {{ npc.name }}
            {{ npc.sub_title }}
            {{ npc.description }}
        {% endfor %}
        {% for npc in page.quests %}
            <br>
            {{ npc.name }}
            {{ npc.type }}
            {{ npc.description }}

        {% endfor %}
        {% if page.tags.count %}
            <h1>Tags:</h1>
            {% for tag in page.tags.all %}
                <div class="tag-box" onclick="navigateTo('{{ self.url }}?tag={{ tag.name }}')" title="Search for related blogs">
                            <img class="scroll-tag" src="http://localhost:8000/static/ours/images/scroll.png">
                            <div class="tag-name-grid">
                                <p class="tag-name" >{{ tag.name }}</p>
                            </div>
                        </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}



